.app-container{
  display: flex;
}
.content{
  width:100%;
}
.sidebar{
  min-height: 800px;
}
.post-card{
  margin:20px 50px;
}
.hashtag{
 margin: 0px 3px;
}
.reaction{
  margin :  15px 0px 0px 0px;
}
.createpost {
  margin-left: 10%;
  width: 80%;
  margin-top: 20px;
}
input{
  width: 95%;
}
.welcomemessage{
  margin-top: 100px;
}
.Loader{
  margin: 300px;
}
